.header-100{
    height: 100vh;
}

.img-sm{
    width: 30vw;
    height: 30vh;
}

.img-md{
    width: 40vw;
    height: 40vh;
}

.fs-24{
    font-size: 24px;
}

.negrito{
    font-weight: bold;
}

.bg-cinza{
    background: rgb(42,42,42);
    background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(74,80,85,1) 100%);
}

.bg-azul{
    background: rgb(26,87,143);
    background: linear-gradient(180deg, rgba(26,87,143,1) 30%, rgba(50,83,111,1) 82%);
}

.pt-10{
    padding-top: 10vh;
}

.pt-5{
    padding-top: 5vh;
}

.pt-20{
    padding-top: 20vh;
}

.pb-5{
    padding-bottom: 5vh;
}

.pt-3{
    padding-top: 3vh;
}

.mt-3{
    margin-top: 3vh;
}

.pb-10{
    padding-bottom: 10vh;
}

.mr-5{
    margin-right: 5vw;
}

.cor-amarela{
    color: yellow;
}

.mt-5{
    margin-top: 5vh;
}

.bt-tabuleiro{
    width: 10vw;
    min-height: 10vh;
    max-height: 10vh;
    overflow: hidden;
}
.bt-padrao{
    font-size: 20px;
    border-radius: 7px;
}

.div-tabuleiro{
    max-height: 100px;
}